* {
	margin: 0px;
  	padding: 0px;
  	font-family: "Open Sans";
}

nav {
  	background-color: white;
  	padding: 20px;
  	position: sticky;
  	top: 0;
  }

ul {
	list-style-type: none;
}


.right-nav {
	float: right;
	word-spacing: 10px;
}


li {
  	display: inline-block;
}


.tuitt-button {
  	margin-top: 5px;
  	color: white;
  	background-color: #c2195b;
  	border: 0;
  	border-radius: 15px;
  	padding: 5px 15px;
}


#bg-image {
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: inherit;
}

.front-bg {
  background-color: rgba(8, 8, 8, 0.5);
  min-height: 50vh;
}

.title {
  color: white;
  font-family: "Zilla Slab";
  text-align: right;
  font-size: 3em;
  padding: 0px 100px 25px 600px;
}

.subtitle {
  color: white;
  text-align: right;
  font-weight: lighter;
  padding: 0px 100px 0px 775px;

}

.apply-button {
  margin-top: 15px;
  color: white;
  background-color: #c2195b;
  border: 0;
  border-radius: 20px;
  padding: 10px 25px;
  float: right;
  margin-right: 100px;
}


.title-2 {
	font-family: Zilla Slab;
	color: black;
	text-align: center;
	font-size: 2em;
	padding: 100px 0px 50px 0px;
}

.intro-description {
	color: black;
	text-align: justify;
	font-size: 1em;
	padding: 0px 150px 100px 175px;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
} 

.prefooter-description {
	color: black;
	text-align: center;
	font-size: 1em;
	padding: 0px 150px 15px 175px;
}

.book-button {
	color: white;
	background-color: #336589;
	border: 0;
	border-radius: 20px;
	padding: 10px 40px;
	margin-bottom: 100px;
	
}

footer {
	text-align: center;
}